<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NAC1-iOS-Pizzaria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FF5E08D1EA99655007C32C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF5E0A41EA99656007C32C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF5E0AF1EA99656007C32C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
